<a href="https://colab.research.google.com/github/kazirafi71/Thesis/blob/master/New_Resume_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
pip install tensorflow-text

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow-text in /usr/local/lib/python3.7/dist-packages (2.10.0)
Requirement already satisfied: tensorflow-hub>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-text) (0.12.0)
Requirement already satisfied: tensorflow<2.11,>=2.10.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-text) (2.10.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (1.1.2)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (3.17.3)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (22.9.24)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (1.14.1)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (1.15.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (0.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (4.1.1)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (1.21.6)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (2.0.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (0.27.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (3.3.0)
Requirement already satisfied: tensorflow-estimator<2.11,>=2.10.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (2.10.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (1.2.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (14.0.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (57.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (21.3)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (3.1.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (0.2.0)
Requirement already satisfied: tensorboard<2.11,>=2.10 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (2.10.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (1.49.1)
Requirement already satisfied: keras<2.11,>=2.10.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (2.10.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow-text) (1.6.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow<2.11,>=2.10.0->tensorflow-text) (0.37.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow<2.11,>=2.10.0->tensorflow-text) (1.5.2)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow-text) (2.23.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow-text) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow-text) (1.8.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow-text) (1.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow-text) (0.4.6)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow-text) (3.4.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow-text) (1.35.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow-text) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow-text) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow-text) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow-text) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow-text) (5.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow-text) (3.9.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow-text) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow-text) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow-text) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow-text) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow-text) (2.10)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow-text) (3.2.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->tensorflow<2.11,>=2.10.0->tensorflow-text) (3.0.9)

In [67]:

import tensorflow as tf
import tensorflow_hub as hub

In [68]:
pip install --upgrade tensorflow-hub

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow-hub in /usr/local/lib/python3.7/dist-packages (0.12.0)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-hub) (1.21.6)
Requirement already satisfied: protobuf>=3.8.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow-hub) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.8.0->tensorflow-hub) (1.15.0)

In [69]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [70]:
!pip install np_utils

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: np_utils in /usr/local/lib/python3.7/dist-packages (0.6.0)
Requirement already satisfied: numpy>=1.0 in /usr/local/lib/python3.7/dist-packages (from np_utils) (1.21.6)

In [71]:
import numpy as np
import pandas as pd
from plotly.offline import iplot
import matplotlib.pyplot as plt
import seaborn as sns
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from sklearn.model_selection import train_test_split
from keras.utils.np_utils import to_categorical
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.layers import Dropout
import re
from nltk.corpus import stopwords
from nltk import word_tokenize
STOPWORDS = set(stopwords.words('english'))

In [72]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [74]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/CV Sorting Project/resume_files.csv")
df.head(100)

,Unnamed: 0,Label,skills,experience
0,0,ACCOUNTANT,"['Partnership', 'Compliance', 'Protocols', 'In...","['Services', 'Financial statements, Bank recon..."
1,1,ACCOUNTANT,"['Process', 'Certification', 'Vendors', 'Tax',...","['Accountant Jul 2014 to Current', 'Company Na..."
2,2,ACCOUNTANT,"['Contracts', 'Inventory', 'Compliance', 'Peop...","['08/2014 to Current', 'Accountant Company Nam..."
3,3,ACCOUNTANT,"['Compliance', 'Invoices', 'Analytical', 'Regu...",['Company Name August 2012 to December 2014 Ac...
4,4,ACCOUNTANT,"['Illustrator', 'Contracts', 'Inventory', 'Inv...","['October 2011', 'to', 'August 2015', 'Company..."
...,...,...,...,...
95,98,ACCOUNTANT,"['Statistical analysis', 'Contracts', 'Invento...",['Company Name August 2013 to Current Senior A...
96,99,ACCOUNTANT,"['Microsoft office suite', 'Partnership', 'Adm...","['11/2012 to 09/2013', 'Volunteer Accountant C..."
97,101,ACCOUNTANT,"['Real estate', 'Compliance', 'Peoplesoft', 'R...",[]
98,103,ACCOUNTANT,"['Inventory', 'Compliance', 'Peoplesoft', 'Inv...","['Payroll Accountant Apr 2014 to Current', 'Co..."
99,104,ACCOUNTANT,"['Annual budget', 'Contracts', 'Inventory', 'C...",['oriented with proven track record of quick l...

In [75]:
df.groupby('Label').describe()

                       Unnamed: 0                                          \
                            count       mean        std  min    25%   50%
Label
ACCOUNTANT                  112.0  57.794643  34.074148  0.0  28.75  57.5
ADVOCATE                    110.0  58.081818  33.630789  0.0  29.25  58.5
AGRICULTURE                  63.0  31.000000  18.330303  0.0  15.50  31.0
APPAREL                      93.0  48.827957  27.993254  0.0  25.00  49.0
ARTS                         99.0  51.444444  30.064971  0.0  26.50  51.0
AUTOMOBILE                   35.0  17.885714  10.428387  0.0   9.50  18.0
AVIATION                    115.0  57.295652  33.730088  0.0  28.50  57.0
BANKING                     112.0  56.875000  33.035914  0.0  28.75  56.5
BPO                          22.0  10.500000   6.493587  0.0   5.25  10.5
BUSINESS-DEVELOPMENT        115.0  59.634783  34.893404  0.0  30.50  60.0
CHEF                        114.0  58.868421  34.674597  0.0  29.25  60.5
CONSTRUCTION                105.0  55.085714  32.199532  0.0  28.00  56.0
CONSULTANT                  111.0  57.702703  33.279968  0.0  29.50  58.0
DESIGNER                     99.0  53.232323  31.289246  0.0  26.50  54.0
DIGITAL-MEDIA                92.0  48.652174  27.812336  0.0  25.75  49.5
ENGINEERING                 115.0  58.895652  34.163275  0.0  29.50  59.0
FINANCE                     113.0  58.318584  33.536032  0.0  30.00  58.0
FITNESS                     113.0  58.318584  34.341839  0.0  28.00  59.0
HEALTHCARE                  110.0  56.327273  33.072650  0.0  28.25  56.5
HR                          109.0  54.935780  31.714956  0.0  28.00  55.0
INFORMATION-TECHNOLOGY      118.0  59.440678  34.624615  0.0  30.25  59.5
PUBLIC-RELATIONS            104.0  55.625000  32.506067  0.0  27.50  56.5
SALES                       115.0  57.304348  33.711150  0.0  28.50  57.0
TEACHER                      92.0  50.391304  28.803600  1.0  26.75  49.5


                          75%    max
Label
ACCOUNTANT              86.25  117.0
ADVOCATE                86.75  117.0
AGRICULTURE             46.50   62.0
APPAREL                 73.00   96.0
ARTS                    77.50  102.0
AUTOMOBILE              26.50   35.0
AVIATION                86.50  116.0
BANKING                 85.25  114.0
BPO                     15.75   21.0
BUSINESS-DEVELOPMENT    89.50  119.0
CHEF                    88.75  117.0
CONSTRUCTION            82.00  111.0
CONSULTANT              86.50  114.0
DESIGNER                80.50  106.0
DIGITAL-MEDIA           72.25   95.0
ENGINEERING             88.50  117.0
FINANCE                 86.00  116.0
FITNESS                 88.00  116.0
HEALTHCARE              83.75  114.0
HR                      82.00  109.0
INFORMATION-TECHNOLOGY  88.75  119.0
PUBLIC-RELATIONS        83.25  110.0
SALES                   86.50  115.0
TEACHER                 73.25  101.0

In [76]:
df['Label'].value_counts()

INFORMATION-TECHNOLOGY    118
SALES                     115
AVIATION                  115
ENGINEERING               115
BUSINESS-DEVELOPMENT      115
CHEF                      114
FITNESS                   113
FINANCE                   113
ACCOUNTANT                112
BANKING                   112
CONSULTANT                111
ADVOCATE                  110
HEALTHCARE                110
HR                        109
CONSTRUCTION              105
PUBLIC-RELATIONS          104
DESIGNER                   99
ARTS                       99
APPAREL                    93
DIGITAL-MEDIA              92
TEACHER                    92
AGRICULTURE                63
AUTOMOBILE                 35
BPO                        22
Name: Label, dtype: int64

In [77]:
def example_complain(index):
    example = df[df.index == index][['skills', 'Label']].values[0]
    if len(example) > 0:
        print(example[0])
        print()
        print('Category:', example[1])

In [78]:
example_complain(10)

['Ms excel', 'Partnership', 'Inventory', 'Contracts', 'Training', 'Windows', 'Accounts receivable', 'Audit', 'Technical', 'Transactions', 'Staffing', 'Purchase orders', 'Merchandising', 'Public relations', 'Microsoft office', 'Quality assurance', 'Safety', 'Accounts payable', 'Payroll', 'Sales', 'Supervisor', 'Writing', 'Reports', 'Forecasting', 'Budgeting', 'Customer service', 'Logistics', 'Warehouse', 'Economics', 'Reporting', 'Reconcile', 'Schedule', 'Retail', 'Networking', 'Accounting', 'Ordering', 'Excel', 'Process', 'System', 'Vendors', 'Standard operating procedures', 'Tax', 'Troubleshooting', 'Project management', 'Billing', 'Operations', 'Assembly']

Category: ACCOUNTANT

In [79]:
data = df.reset_index(drop=True)
REPLACE_BY_SPACE_RE = re.compile('[/(){}\[\]\|@,;]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z #+_]')
STOPWORDS = set(stopwords.words('english'))

def clean_text(text):
    """
        text: a string
        
        return: modified initial string
    """
    text = text.lower() # lowercase text
    text = REPLACE_BY_SPACE_RE.sub(' ', text) # replace REPLACE_BY_SPACE_RE symbols by space in text. substitute the matched string in REPLACE_BY_SPACE_RE with space.
    text = BAD_SYMBOLS_RE.sub('', text) # remove symbols which are in BAD_SYMBOLS_RE from text. substitute the matched string in BAD_SYMBOLS_RE with nothing. 
    text = text.replace('x', '')
#    text = re.sub(r'\W+', '', text)
    text = ' '.join(word for word in text.split() if word not in STOPWORDS) # remove stopwors from text
    return text
df['skills'] = data['skills'].apply(clean_text)

In [80]:
example_complain(10)

ms ecel partnership inventory contracts training windows accounts receivable audit technical transactions staffing purchase orders merchandising public relations microsoft office quality assurance safety accounts payable payroll sales supervisor writing reports forecasting budgeting customer service logistics warehouse economics reporting reconcile schedule retail networking accounting ordering ecel process system vendors standard operating procedures ta troubleshooting project management billing operations assembly

Category: ACCOUNTANT

In [81]:
# The maximum number of words to be used. (most frequent)
MAX_NB_WORDS = 50000
# Max number of words in each complaint.
MAX_SEQUENCE_LENGTH = 250
# This is fixed.
EMBEDDING_DIM = 100

tokenizer = Tokenizer(num_words=MAX_NB_WORDS, filters='!"#$%&()*+,-./:;<=>?@[\]^_`{|}~', lower=True)
tokenizer.fit_on_texts(df['skills'].values)
word_index = tokenizer.word_index
print('Found %s unique tokens.' % len(word_index))

Found 638 unique tokens.

In [82]:
X = tokenizer.texts_to_sequences(df['skills'].values)
X = pad_sequences(X, maxlen=MAX_SEQUENCE_LENGTH)
print('Shape of df tensor:', X.shape)

Shape of df tensor: (2386, 250)

In [83]:
Y = pd.get_dummies(df['Label']).values
print('Shape of label tensor:', Y.shape)

Shape of label tensor: (2386, 24)

In [84]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.10, random_state = 42)
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(2147, 250) (2147, 24)
(239, 250) (239, 24)

In [90]:
model = Sequential()
model.add(Embedding(MAX_NB_WORDS, EMBEDDING_DIM, input_length=X.shape[1]))
model.add(SpatialDropout1D(0.2))
model.add(LSTM(100, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(24, activation='sigmoid'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
print(model.summary())

Model: "sequential_15"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_15 (Embedding)    (None, 250, 100)          5000000

 spatial_dropout1d_9 (Spatia  (None, 250, 100)         0
 lDropout1D)

 lstm_15 (LSTM)              (None, 100)               80400

 dense_15 (Dense)            (None, 24)                2424

=================================================================
Total params: 5,082,824
Trainable params: 5,082,824
Non-trainable params: 0
_________________________________________________________________
None

In [91]:
epochs = 30
batch_size = 64

history = model.fit(X_train, Y_train, epochs=epochs,
                    batch_size=batch_size,validation_split=0.1,
                    callbacks=[EarlyStopping(monitor='val_loss', patience=5,min_delta=0.0001, verbose=0, mode='auto')])

Epoch 1/30

WARNING:tensorflow:AutoGraph could not transform <function Model.make_train_function.<locals>.train_function at 0x7f8068579d40> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: closure mismatch, requested ('self', 'step_function'), but source function had ()
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert

WARNING: AutoGraph could not transform <function Model.make_train_function.<locals>.train_function at 0x7f8068579d40> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: closure mismatch, requested ('self', 'step_function'), but source function had ()
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
31/31 [==============================] - ETA: 0s - loss: 3.1514 - accuracy: 0.0932

WARNING:tensorflow:AutoGraph could not transform <function Model.make_test_function.<locals>.test_function at 0x7f8065d188c0> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: closure mismatch, requested ('self', 'step_function'), but source function had ()
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert

WARNING: AutoGraph could not transform <function Model.make_test_function.<locals>.test_function at 0x7f8065d188c0> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: closure mismatch, requested ('self', 'step_function'), but source function had ()
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
31/31 [==============================] - 29s 851ms/step - loss: 3.1514 - accuracy: 0.0932 - val_loss: 3.0851 - val_accuracy: 0.1628
Epoch 2/30
31/31 [==============================] - 23s 736ms/step - loss: 2.9840 - accuracy: 0.1284 - val_loss: 2.8610 - val_accuracy: 0.0930
Epoch 3/30
31/31 [==============================] - 23s 735ms/step - loss: 2.6956 - accuracy: 0.2008 - val_loss: 2.6471 - val_accuracy: 0.1953
Epoch 4/30
31/31 [==============================] - 23s 735ms/step - loss: 2.5138 - accuracy: 0.2598 - val_loss: 2.5525 - val_accuracy: 0.2279
Epoch 5/30
31/31 [==============================] - 22s 725ms/step - loss: 2.3437 - accuracy: 0.3173 - val_loss: 2.4294 - val_accuracy: 0.2744
Epoch 6/30
31/31 [==============================] - 22s 725ms/step - loss: 2.1730 - accuracy: 0.3711 - val_loss: 2.3089 - val_accuracy: 0.3070
Epoch 7/30
31/31 [==============================] - 23s 735ms/step - loss: 2.0324 - accuracy: 0.4151 - val_loss: 2.2523 - val_accuracy: 0.3023
Epoch 8/30
31/31 [==============================] - 23s 728ms/step - loss: 1.8933 - accuracy: 0.4529 - val_loss: 2.1786 - val_accuracy: 0.3721
Epoch 9/30
31/31 [==============================] - 26s 830ms/step - loss: 1.7881 - accuracy: 0.4814 - val_loss: 2.2198 - val_accuracy: 0.3349
Epoch 10/30
31/31 [==============================] - 23s 729ms/step - loss: 1.7140 - accuracy: 0.5005 - val_loss: 2.1679 - val_accuracy: 0.3488
Epoch 11/30
31/31 [==============================] - 22s 723ms/step - loss: 1.6553 - accuracy: 0.5104 - val_loss: 2.1726 - val_accuracy: 0.3581
Epoch 12/30
31/31 [==============================] - 22s 720ms/step - loss: 1.5392 - accuracy: 0.5404 - val_loss: 2.0816 - val_accuracy: 0.3953
Epoch 13/30
31/31 [==============================] - 23s 727ms/step - loss: 1.4825 - accuracy: 0.5606 - val_loss: 2.1693 - val_accuracy: 0.3907
Epoch 14/30
31/31 [==============================] - 23s 729ms/step - loss: 1.4232 - accuracy: 0.5802 - val_loss: 2.1758 - val_accuracy: 0.3953
Epoch 15/30
31/31 [==============================] - 23s 738ms/step - loss: 1.4100 - accuracy: 0.5833 - val_loss: 2.1177 - val_accuracy: 0.4093
Epoch 16/30
31/31 [==============================] - 23s 732ms/step - loss: 1.3192 - accuracy: 0.6222 - val_loss: 2.1967 - val_accuracy: 0.3767
Epoch 17/30
31/31 [==============================] - 26s 826ms/step - loss: 1.2752 - accuracy: 0.6232 - val_loss: 2.2180 - val_accuracy: 0.3907